tabset
  tab(ng-repeat="jar in jars" heading="{{jar.name}}", active='$first')
    br
    note-list(notes='jar.Notes', edit-note='editNote', edit-fn='edit')
  tab(active="newJarForm")
    tab-heading
        i(class="fa fa-plus-circle")
        span  New Jar
    jar-form
