footer
  .container
    .row.text-right
      .col-lg-12
        ul.list-inline
          li
            a(href='#') GrtYr
          li.footer-menu-divider ⋅
          li
            a(href='#') About
          li.footer-menu-divider ⋅
          li
            a(href='#') Contact
