div(ng-include='"components/navbar/navbar.html"')

.container
  div(ng-hide='editNote')
    note-form(submit-fn='saveNote()', model='note.body', submit-text='Save')
    hr
  div(ng-show='editNote')
    note-form(submit-fn='updateNote()', model='editNote.body', submit-text='Update', ng-keyup='checkEsc($event)')
    hr
  ul.list-group
    li.note-item.list-group-item(ng-repeat='note in notes', ng-class="{'disabled': (note.id === editNote.id)}")
      span(ng-bind-html='note.body|nlbr')
      br
      span.text-muted {{note.createdAt|date:'short'}}
      a.edit.pointer(ng-click='edit(note)', ng-show='note.canEdit', title='Edit Note')
        span.fa.fa-pencil-square-o.pull-right
    li.list-group-item(ng-show='!notes.length')
      span.text-muted No notes

