div(ng-include='"components/navbar/navbar.html"')

.container
  div(ng-show='canWrite')
    form(ng-submit='saveNote()', name='form')
      textarea.form-control(rows='3', ng-model='note.body', placeholder='The great thing that happened today was...', required)
      br
      button.btn.btn-primary.btn-block(type='submit', ng-disabled='form.$error.required') Save
    hr
  ul.list-group
    li.list-group-item(ng-repeat='note in notes')
      span(ng-bind-html='note.body|nlbr')
      br
      span.text-muted {{note.createdAt|date:'short'}}
    li.list-group-item(ng-show='!notes.length')
      span.text-muted No notes

