div(ng-include='"components/navbar/navbar.html"')

.container
  div(ng-hide='editNote')
    note-form(submit-fn='saveNote()', note='note', submit-text='Save')
    hr
  div(ng-show='editNote')
    note-form(submit-fn='updateNote()', note='editNote', submit-text='Update', ng-keyup='checkEsc($event)')
    hr
  jar-tabs
