div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!


footer.footer
  .container
    p
      | GrtYr
      = ' | '
      a(href='https://twitter.com/grtyrapp', target='_blank') @grtyrapp
      = ' | '
      a(href='https://github.com/grtyr/feedback/issues', target='_blank') Feedback
