form(ng-submit='submitFn()', name='form')
  label.control-label Note
  textarea.form-control(rows='3', ng-model='note.body', placeholder='The great thing that happened today was...', required)
  br
  label.control-label Category
  select.form-control(ng-options='item.id as item.name for item in categories', ng-model='note.category_id', required)
  br
  button.btn.btn-primary.btn-block(type='submit', ng-disabled='form.$error.required') {{submitText}}
